In [41]:
import pandas as pd
import numpy as np
import ipywidgets as widgets
from IPython.display import display, clear_output
import io

# Membuat widget untuk unggah file
upload_widget = widgets.FileUpload(
    accept='data_kesejahteraan.csv',
    multiple=False
)

# Menampilkan widget unggah file
display(upload_widget)

FileUpload(value={}, accept='data_kesejahteraan.csv', description='Upload')

In [49]:
# Menunggu file diunggah dan memuatnya ke dalam dataframe
uploaded_file = list(upload_widget.value.values())[0]
file_content = uploaded_file['content']

# Membaca file CSV yang diunggah
df = pd.read_csv(io.BytesIO(file_content))
print("Data Awal:")
display(df.head())

Data Awal:

,provinsi,gk.makanan.perkotaan.2015.maret,gk.makanan.perkotaan.2015.september,gk.makanan.perkotaan.2016.maret,gk.makanan.perkotaan.2016.september,gk.makanan.perdesaan.2015.maret,gk.makanan.perdesaan.2015.september,gk.makanan.perdesaan.2016.maret,gk.makanan.perdesaan.2016.september,gk.makanan.perdesaanperkotaan.2015.maret,...,gk.total.perkotaan.2022.maret,gk.total.perkotaan.2022.september,gk.total.perdesaan.2021.maret,gk.total.perdesaan.2021.september,gk.total.perdesaan.2022.maret,gk.total.perdesaan.2022.september,gk.total.perdesaanperkotaan.2021.maret,gk.total.perdesaanperkotaan.2021.september,gk.total.perdesaanperkotaan.2022.maret,gk.total.perdesaanperkotaan.2022.september
0,ACEH,293697.0,302128.0,306243.0,319768.0,297479.0,306737.0,NaN,324854.0,296406.0,...,606394.0,646232.0,529035.0,541000.0,565762.0,602900.0,541109,552939.0,579228.0,617293.0
1,SUMATERA UTARA,261677.0,273271.0,290096.0,NaN,266143.0,284650.0,304942.0,313234.0,263932.0,...,583221.0,615227.0,504685.0,513987.0,534184.0,NaN,525756,537311.0,561004.0,592025.0
2,SUMATERA BARAT,288410.0,301356.0,312154.0,322168.0,293768.0,313294.0,332415.0,341816.0,291641.0,...,622579.0,668643.0,556181.0,566224.0,598431.0,638946.0,568703,579545.0,610940.0,654194.0
3,RIAU,280361.0,288956.0,292026.0,301570.0,302422.0,318195.0,326262.0,333174.0,293851.0,...,642008.0,686945.0,546807.0,564900.0,582224.0,623910.0,565937,586062.0,605912.0,648832.0
4,JAMBI,297507.0,308379.0,319954.0,328157.0,247652.0,258946.0,270888.0,277173.0,262791.0,...,635708.0,684555.0,470758.0,479006.0,503811.0,541267.0,506355,517723.0,545870.0,585950.0

In [43]:
# Mengecek apakah ada nilai yang hilang
missing_values = df.isnull().values.any()
print("\nApakah ada nilai yang hilang di dataset?:", missing_values)

Apakah ada nilai yang hilang di dataset?: True

In [44]:
# Menampilkan jumlah nilai yang hilang di setiap kolom
print("\nJumlah nilai yang hilang di setiap kolom:")
display(df.isnull().sum())

Jumlah nilai yang hilang di setiap kolom:

provinsi                                      2
gk.makanan.perkotaan.2015.maret               2
gk.makanan.perkotaan.2015.september           1
gk.makanan.perkotaan.2016.maret               1
gk.makanan.perkotaan.2016.september           2
                                             ..
gk.total.perdesaan.2022.september             5
gk.total.perdesaanperkotaan.2021.maret        0
gk.total.perdesaanperkotaan.2021.september    1
gk.total.perdesaanperkotaan.2022.maret        2
gk.total.perdesaanperkotaan.2022.september    2
Length: 157, dtype: int64

In [50]:
# Mengisi missing values di kolom numerik dengan rata-rata
num_cols = df.select_dtypes(include='number').columns
df[num_cols] = df[num_cols].fillna(df[num_cols].mean())
print("\nMengisi missing values dengan rata-rata (untuk kolom numerik)...")

Mengisi missing values dengan rata-rata (untuk kolom numerik)...

In [46]:
# Mengisi missing values di kolom teks dengan modus
text_cols = df.select_dtypes(include='object').columns
for column in text_cols:
    if df[column].isnull().any():
        df[column].fillna(df[column].mode()[0], inplace=True)
print("Mengisi missing values dengan modus (untuk kolom teks)...")

Mengisi missing values dengan modus (untuk kolom teks)...

<ipython-input-46-bd48f6d58cce>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mode()[0], inplace=True)

In [47]:
# Mengecek kembali apakah masih ada missing values
print("\nJumlah nilai yang hilang setelah penanganan:")
display(df.isnull().sum())

Jumlah nilai yang hilang setelah penanganan:

provinsi                                      0
gk.makanan.perkotaan.2015.maret               0
gk.makanan.perkotaan.2015.september           0
gk.makanan.perkotaan.2016.maret               0
gk.makanan.perkotaan.2016.september           0
                                             ..
gk.total.perdesaan.2022.september             0
gk.total.perdesaanperkotaan.2021.maret        0
gk.total.perdesaanperkotaan.2021.september    0
gk.total.perdesaanperkotaan.2022.maret        0
gk.total.perdesaanperkotaan.2022.september    0
Length: 157, dtype: int64

In [48]:
# Menyimpan dataframe yang sudah diproses ke CSV baru
df.to_csv('data_kesejahteraan_bersih.csv', index=False)
print("\nData telah disimpan sebagai 'data_kesejahteraan_bersih.csv'.")

Data telah disimpan sebagai 'data_kesejahteraan_bersih.csv'.